<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'main/mainPageStyle.css' %}" />
    <title>Main Page</title>
</head>
<body>
    <div class="inputField">
    <form>
        <input type="text" placeholder="Input your problem here">
        <button class = buttonInput type="submit"></button>
    </form>
        <button class="buttonForum" onclick="document.location='forum/'">Forum</button>
    </div>
</body>
</html>